In [1]:
import pandas as pd
student = pd.read_csv('talent_hunt_scores.csv')

In [2]:
student.head()

   Computer_Science  Chemistry  Mathematics  Physics
0             74.41     103.29        95.21    74.25
1             83.02      88.96        74.95    96.26
2             79.57      85.67        63.88   100.01
3             75.55      84.31        99.49    91.51
4             97.16      88.70        82.81    93.38

write down the null and alternate hypothesis

*mu >= 82 #null hypothesis
*mu < 82  #alternative hypothesis

In [ ]:
score_3 = df.Mathematics.mean()